@charset "utf-8";
/* 头部 */
.wrap{ width:1000px; height:100%; margin:0 auto; position:relative; }
.head-bg{ background: rgba(255,255,255,0.8); position: fixed; top: 0; left: 0; width: 100%; z-index: 10; } 
.head{ position:relative; width:1000px;height:50px; margin:0 auto; padding:10px; padding-bottom:0; }
h1{ width:170px; height:49px; background:url(../images/logo.png) no-repeat; text-indent:-9999em; background-size:contain; }
.head .menu{ position:absolute; top:0; right:0; padding-right: 12px; padding-top:12px; overflow:hidden; }
/*.head .menu a{  background:url(../images/jing.png) no-repeat; display:block; 
	transition:.4s all ease; 
	width:80px; height:80px;  background-size:contain;
}*/
/*.head .menu a:hover{ background-position:0 -32px; }
*//*-------------------------导航条 start-------------------------*/
.g-menu { overflow:hidden; }
.g-menu ul li { cursor:pointer; position:relative; float:left; text-align:center; padding:0 10px; width:80px; height:40px; line-height:40px; color:#056561; text-shadow:0 0 1px #fff; }
.g-menu ul li span { position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; }
.g-menu ul li em {  position:absolute; bottom:0; left:0; width:100%; height:0; } 
@-webkit-keyframes nav{
	to{ height:100%;}	
}
.g-menu ul li:hover em,
.g-menu ul li.active em { -webkit-animation:.5s nav ease-in forwards; } 
/*-------------------------导航条 end-------------------------*/

/*--------------------------------------------------------------------*/

/* 首页 */

@-webkit-keyframes phone{
	to{ top:500px; opacity:1; }
}
@-moz-keyframes phone{
	to{ top:500px; opacity:1; }
}
@-ms-keyframes phone{
	to{ top:500px; opacity:1; }
}

@-webkit-keyframes shadow{
	to{ opacity:1; }	
}
@-moz-keyframes shadow{
	to{ opacity:1; }	
}
@-ms-keyframes shadow{
	to{ opacity:1; }	
}

@-webkit-keyframes big-tree {
	to{ top:-80px;opacity:1;  }	
}
@-moz-keyframes big-tree {
	to{ top:-80px;opacity:1;  }	
}
@-ms-keyframes big-tree {
	to{ top:-80px;opacity:1;  }	
}

@-webkit-keyframes small-tree {
	to{ top:-60px; opacity:1;  }	
}
@-moz-keyframes small-tree {
	to{ top:-60px; opacity:1;  }	
}
@-ms-keyframes small-tree {
	to{ top:-60px; opacity:1;  }	
}

@-webkit-keyframes other-tree {
	to{ top:-50px; opacity:1;  }	
}
@-moz-keyframes other-tree {
	to{ top:-50px; opacity:1;  }	
}
@-ms-keyframes other-tree {
	to{ top:-50px; opacity:1;  }	
}

.h-cont{ position:relative; margin:0 auto; height:100%; background:#fff url(../images/index/index_bg.jpg) center 200px no-repeat; background-size:contain; }
/*手机*/
.h-phone { position:absolute; top:0; left:50%; opacity:0; margin-left:-415px; background:url(../images/index/phone.png) no-repeat; width:829px; height:57px; 
	-webkit-animation:1s phone ease forwards;
	-moz-animation:1s phone ease forwards;
	-ms-animation:1s phone ease forwards; 
}
.phone-shadow { opacity:0; position:absolute; bottom:-45px; left:0; width:792px; height:41px;  background:url(../images/index/shadow.png) no-repeat; }

.big-tree { opacity:0; position:absolute; top:0; /*top:-80px;*/ right:125px; background:url(../images/index/big_tree.png) no-repeat; width: 70px; height:180px; }
.small-tree { opacity:0;  position:absolute; top:0; /*top:-60px;*/ left:120px; background:url(../images/index/small_tree.png) no-repeat; width:45px; height:70px; }
.other-tree { opacity:0;  position:absolute; top:0; /* top:-50px;*/ left:75px; background:url(../images/index/other_tree.png) no-repeat; width:695px; height:82px;  }

/* 视频 */
@-webkit-keyframes video{
	to { opacity:1; }
}
.h-video { opacity:0; position:absolute; top:180px; left:50%; margin-left:-250px; width:500px; height:302px; }

/* 齿轮 */
@-webkit-keyframes gear{
	to{ transform:rotate(360deg); }	
}
@-moz-keyframes gear{
	to{ transform:rotate(360deg); }	
}
@-ms-keyframes gear{
	to{ transform:rotate(360deg); }	
}
.h-gear { position:absolute; top:100px; left:20px; background:url(../images/index/gear.png) no-repeat; width:169px; height:169px; 
	-webkit-animation-name:gear;
	-webkit-animation-duration:5s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-moz-animation:5s gear linear infinite;
	-ms-animation:5s gear linear infinite;
}
/* 飞鸽 */
@-webkit-keyframes -dove{
	0 { top:-100px; left:-200px; -webkit-transform:rotate(40deg); }
	25% { top:20px; left:0; -webkit-transform:rotate(40deg); }
	50% { top:200px; left:300px; -webkit-transform:rotate(40deg); }
	75% { top:150px; left:600px; -webkit-transform:rotate(40deg); }
	100% {top:100px; left:900px; -webkit-transform:rotateY(180deg); }	
}

.h-dove { position:absolute; top:150px; right:-40px; background:url(../images/index/dove.png) no-repeat;-webkit-transform:rotateY(180deg); width:257px; height:175px; background-size:contain;  }
/*.h-dove { position:absolute; top:0; left:0;}*/

/*.dove-arc {  position:absolute; top:-500px; left:50%; width:1000px; height:1000px; border-radius:50%; border:1px solid red;  }*/


/* 文字 */
.h-text { position:absolute; top:100px; left:50%; margin-left:-278px;  }
.h-text div { float:left; padding:0 4px;}

/*------------------------------手机端 start------------------------------*/
.m-cont { width:100%; height:100%; position:relative; }
.m-picture { width:100%; height:100%; background:url(../images/m_bg.jpg) no-repeat; }
/* 照片环 */
.m-pic { position:absolute; top:25%; left:50%; margin-left:-44px; width:87px; height:180px; /*background:url(../images/iphone.png) no-repeat; background-size:contain;*/  transform:perspective(1200px) rotateX(-10deg); transform-style:preserve-3d;}
.m-pic li { position:absolute; top:0; left:0; width:100%; height:100%;background:url(../images/iphone.png) no-repeat; transition:1s all ease; border-radius:8px; box-shadow:0 0 10px 2px #fff; -webkit-box-reflect:below 10px -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)); background-size:cover; }

/* 按钮 */
.m-btn { position:absolute; bottom:0; left:0; width:100%; height:192px; overflow:hidden;}
.m-left { float:right; background:url(../images/left.png) no-repeat;  width:174px; height:128px; background-size:contain; cursor:pointer; }
.m-right { float:left; background:url(../images/right.png) no-repeat;  width:261px; height:192px; background-size:contain; cursor:pointer; }

.m-gear { position:absolute; bottom:0; right:0; background:url(../images/c_3.png) no-repeat; background-size:contain; width:170px; height:170px;}
/*------------------------------手机端 end-------------------------------*/
/*------------------------------联系我们 start---------------------------*/
#c-map { margin-top:80px; width:100%; height:350px; border:1px solid #ccc; }

.g-contact ul { display:-webkit-box; padding-top:30px; }
.g-contact ul li {padding-left:120px;line-height:100px; font-size:20px; font-family:'微软雅黑';  -webkit-box-flex:1; width:100px; height:100px; }
.g-contact ul li:nth-child(1) { background:url(../images/phone.png) no-repeat;  background-size:contain; }
.g-contact ul li:nth-child(2) { background:url(../images/email.png) no-repeat; background-size:contain; }
.g-contact ul li:nth-child(3) { background:url(../images/weixin.png) no-repeat;background-size:contain; margin-left:60px;}
.g-contact ul li em { }
/*------------------------------联系我们 end---------------------------*/






